@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Urban Waffle</h1>
    <p>This is the best waffle you can find in the town.</p>
</div>
